
body{
    background-color:  hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}

.container {
    width: 270px;
    height: 270px;
    margin: auto;
    background-color: hsl(213, 19%, 18%);
    color: white;
    margin-top: 10em;
    padding: 30px;
    border-radius: 20px;
}

.container p{
    font-size: 12px;
    color: hsl(217, 12%, 63%);
    line-height: 20px;
}

.ButtonWrapper{
    display: flex;
    gap: 20px;
    margin-top: 1.2em;
    color: hsl(217, 12%, 63%);
}

.ButtonWrapper button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: hsl(217, 12%, 63%);
    border: none;
    background-color: #1B2029;
    border: 1px solid #1B2029;
  
}

.ButtonWrapper button a {
    text-decoration: none;
    color: hsl(217, 12%, 63%);
}

/* .ButtonWrapper button .btn5:hover  {
    background-color: hsl(25, 97%, 53%);
    color: white;
} */

.subbutton button{
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background-color: hsl(25, 97%, 53%);
  border-radius: 15px;
  border: none;
  margin-top: 1.5em;
  font-weight: 400;
  font-family: 'Overpass', sans-serif;
  border-color: none;
}

.subbutton button:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
    /* cursor: grab; */
   
}

.subbutton button:hover a {
    background-color: white;
    color: hsl(25, 97%, 53%);
    /* cursor: ; */
    
}


.star button{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #1B2029;
}

.subbutton a {
    text-decoration: none;
    color: white;
}


